<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-attachment-edit" th:object="${attachment}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">业务类型：</label>
                <div class="col-sm-8">
                    <input id="businessType" name="businessType" th:field="*{businessType}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">业务Id：</label>
                <div class="col-sm-8">
                    <input id="businessId" name="businessId" th:field="*{businessId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">文件路径：</label>
                <div class="col-sm-8">
                    <input id="filePath" name="filePath" th:field="*{filePath}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">真实的文件名：</label>
                <div class="col-sm-8">
                    <input id="fileNameReal" name="fileNameReal" th:field="*{fileNameReal}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">显示用的文件名：</label>
                <div class="col-sm-8">
                    <input id="fileNameShow" name="fileNameShow" th:field="*{fileNameShow}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">文件大小：</label>
                <div class="col-sm-8">
                    <input id="fileSize" name="fileSize" th:field="*{fileSize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">删除标记：</label>
                <div class="col-sm-8">
                    <input id="delFlag" name="delFlag" th:field="*{delFlag}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "document/attachment"
		$("#form-attachment-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-attachment-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
