<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-activity-edit" th:object="${activity}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nowname">文件原名：</label>
            <div class="col-sm-8">
                <input id="filename" name="filename" th:field="*{filename}" class="form-control" type="text" readOnly
                       style="margin-bottom: 5px;">
                <input id="uploadBtn" name="files" type="file" class="file">
                <span style="color: red;">只允许上传.txt;.dat;.docx;.doc;.jpg;.phg;.avi;.xlsx;.xls;.zip;.rar文件</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件名称：</label>
            <div class="col-sm-8">
                <input id="nowname" name="nowname" th:field="*{nowname}" class="form-control" type="text" readOnly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">存放位置：</label>
            <div class="col-sm-8">
                <input id="savepath" name="savepath" th:field="*{savepath}" class="form-control" type="text" readOnly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">访问地址：</label>
            <div class="col-sm-8">
                <input id="url" name="url" th:field="*{url}" class="form-control" type="text" readOnly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件类型：</label>
            <div class="col-sm-8">
                <input id="filetype" name="filetype" th:field="*{filetype}" class="form-control" type="text" readOnly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文件大小(字节)：</label>
            <div class="col-sm-5">
                <input id="filesize" name="filesize" th:field="*{filesize}" class="form-control" type="text" readOnly>
            </div>
            <span class="col-sm-2" style="color: red;padding-left: 0px;width: 100px;">(单位:字节)</span>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">上传时间：</label>
            <div class="col-sm-8">
                <input id="addtime" name="addtime" th:field="*{addtime}" class="form-control" type="text" readOnly>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    //上传文件
    $("#uploadBtn").fileinput({
        enctype: "multipart/form-data",
        uploadUrl: "/upload/uploadFile.do",
        language: "zh",
        browseLabel: "选择文件",
        maxFileCount: 10,
        showUpload: true, //是否显示上传按钮
        showRemove: true, //是否显示移除按钮
        showPreview: true,//是否显示预览图
        showCaption: false,//是否显示标题
        dropZoneEnabled: false,//是否显示预览区域
        initialPreviewShowDelete: false,
        browseClass: "btn btn-info",
        allowedFileExtensions: ["txt", "dat", "docx", "doc", "jpg", "phg", "avi", "xlsx", "xls", "zip", "rar"]//接收的文件后缀
    }).on("fileuploaded", function (event, ret, previewId, index) {
        if (0 == ret.response.retcode) {
            modalErr(ret.response.retmsg);
            return;
        } else {
            $("#nowname").val(ret.response.data.nowname);
            $("#savepath").val(ret.response.data.savepath);
            $("#filetype").val(ret.response.data.filetype);
            $("#filesize").val(ret.response.data.filesize);
            $("#url").val(ret.response.data.url);
        }
    }).on("change", function (event) {
        var filename = event.target.value;
        filename = filename.substring(filename.lastIndexOf("\\") + 1, filename.length);
        $("#filename").val(filename);
        return false;
    });

    var prefix = ctx + "document/activity"
    $("#form-activity-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        var savepath = $("#savepath").val();
        if ("" == savepath) {
            modalErr("请先上传文件");
            return;
        }

        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-activity-edit').serialize());
        }
    }
</script>
</body>
</html>
