<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-abroad-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">学号：</label>
				<div class="col-sm-8">
					<input id="stuid" name="stuid" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">学生姓名：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<select id="sex" name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_sex')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">年龄：</label>
				<div class="col-sm-8">
					<input id="age" name="age" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input id="phone" name="phone" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">专业：</label>
				<div class="col-sm-8">
					<input id="professional" name="professional" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">留学国家：</label>
				<div class="col-sm-8">
					<input id="stuAbroadCountries" name="stuAbroadCountries" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">留学时间：</label>
				<div class="col-sm-8">
					<input id="stuTime" name="stuTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">留学地点：</label>
				<div class="col-sm-8">
					<input id="destinations" name="destinations" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">留学类型：</label>
				<div class="col-sm-8">
					<input id="studyingType" name="studyingType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型转换：</label>
				<div class="col-sm-8">
					<input id="typeConversion" name="typeConversion" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">校纪信息：</label>
				<div class="col-sm-8">
					<input id="rulesInformation" name="rulesInformation" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "student/abroad"
		$("#form-abroad-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});

        $(function() {
            //初始化日期选择器
            layui.use('laydate', function() {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#stuTime', //指定元素
                    trigger: 'click'
                });
            });

        });

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-abroad-add').serialize());
	        }
	    }
	</script>
</body>
</html>
